<!-- Flag icon css -->
<link rel="stylesheet" href="{% static 'assets/css/vendors/flag-icon.css' %}" />
<!-- iconly-icon-->
<link rel="stylesheet" href="{% static 'assets/css/iconly-icon.css' %}" /> <link
rel="stylesheet" href="{% static 'assets/css/bulk-style.css' %}" />
<!-- iconly-icon-->
<link rel="stylesheet" href="{% static 'assets/css/themify.css' %}" />
<!--fontawesome-->
<link rel="stylesheet" href="{% static 'assets/css/fontawesome-min.css' %}" />
<!-- Whether Icon css-->
<link rel="stylesheet" type="text/css" href="{% static
'assets/css/vendors/weather-icons/weather-icons.min.css' %}" /> <link
rel="stylesheet" type="text/css" href="{% static
'assets/css/vendors/scrollbar.css' %}" /> <link rel="stylesheet" type="text/css"
href="{% static 'assets/css/vendors/slick.css' %}" /> <link rel="stylesheet"
type="text/css" href="{% static 'assets/css/vendors/slick-theme.css' %}" />
<!-- App css -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" /> <link
id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css' %}"
media="screen"
