{% load static %}
<!-- Header Start -->
<header class="page-header row">
  <div class="logo-wrapper d-flex align-items-center col-auto">
    <a href="index.html"
      ><img
        class="light-logo img-fluid"
        src="{% static 'assets/images/logo/logo1.png' %}"
        alt="logo"
      /><img
        class="dark-logo img-fluid"
        src="{% static 'assets/images/logo/logo-dark.png' %}"
        alt="logo"
      />
    </a>
    <a class="close-btn toggle-sidebar" href="javascript:void(0)">
      <svg class="svg-color">
        <use href="{% static 'assets/svg/iconly-sprite.svg' %}#Category"></use>
      </svg>
    </a>
  </div>
  <div class="page-main-header col">
    {% include './a110_navbar_header_left.html' %} 
    {% include './a120_navbar_nav_right.html' %}
  </div>
</header>
<!-- Header End -->
