{% load static %}
<!-- Header Left Start -->
<div class="header-left">
  <form class="form-inline search-full col" action="#" method="get">
    <div class="form-group w-100">
      <div class="Typeahead Typeahead--twitterUsers">
        <div class="u-posRelative">
          <input
            class="demo-input Typeahead-input form-control-plaintext w-100"
            type="text"
            placeholder="Search Admiro .."
            name="q"
            title=""
            autofocus
          />
          <div class="spinner-border Typeahead-spinner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <i class="close-search" data-feather="x"></i>
        </div>
        <div class="Typeahead-menu"></div>
      </div>
    </div>
  </form>
  <div class="form-group-header d-lg-block d-none">
    <div class="Typeahead Typeahead--twitterUsers">
      <div class="u-posRelative d-flex align-items-center">
        <input
          class="demo-input py-0 Typeahead-input form-control-plaintext w-100"
          type="text"
          placeholder="Type to Search..."
          name="q"
          title=""
        /><i class="search-bg iconly-Search icli"></i>
      </div>
    </div>
  </div>
</div>
<!-- Header Left End -->