
<!-- Nav Right Start -->
<div class="nav_right">
  <ul class="header_right">

    {% include 'a121_navbar_language_dropdown.html' %}

    {% include 'a122_navbar_search.html' %} 

    {% include 'a123_navbar_dark_mode.html' %} 

    {% include 'a124_navbar_cart.html' %} 

    {% include 'a125_navbar_notification.html' %} 
    
    {% include 'a126_navbar_full_screen.html' %} 

    {% include 'a127_navbar_bookmark.html' %} 
    
    {% include 'a128_navbar_cloud_design.html' %} 

    {% include 'a129_navbar_user_profile.html' %} 
  </ul>
</div>
<!-- Nav Right End -->