{% block content %}
<!-- Page Body Start CONTENT -->
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-sm-6 col-12">
          <h2>Dragable card</h2>
        </div>
        <div class="col-sm-6 col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html"
                ><i class="iconly-Home icli svg-color"></i
              ></a>
            </li>
            <li class="breadcrumb-item">Bonus Ui</li>
            <li class="breadcrumb-item active">Dragable card</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts     -->
  <div class="container-fluid dragable">
    <div class="row" id="dragable">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-no-border pb-0">
            <h3>Basic Card</h3>
            <p class="mt-1 mb-0">You can draggable cards anywhere.</p>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>Logo Design
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>Web Designer
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>E-Commerce
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>UX Designer
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-no-border pb-0">
            <h3>Active lists</h3>
            <p class="mt-1 mb-0">You can draggable cards anywhere.</p>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li
                class="list-group-item active bg-warning-light"
                aria-current="true"
              >
                <i class="fa-solid fa-arrow-right me-2"></i>UI Kits
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>Wow Animations
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>Apex Charts
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>Starter Kits
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-no-border pb-0">
            <h3>Flat Card</h3>
            <p class="mt-1 mb-0">You can draggable cards anywhere.</p>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>PRODUCT
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>PRODUCT DETAILS
              </li>
              <li class="list-group-item">
                <i class="fa-solid fa-arrow-right me-2"></i>CART
              </li>
              <li class="list-group-item pb-0">
                <i class="fa-solid fa-arrow-right me-2"></i>CHECKOUT
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xxl-6 mb-lg-3">
        <div class="card shadow-none">
          <div class="card-header card-no-border pb-0">
            <h3>Without Shadow Card</h3>
            <p class="mt-1 mb-0">You can draggable cards anywhere.</p>
          </div>
          <div class="card-body">
            <div
              class="alert text-success border-success alert-dismissible fade show"
              role="alert"
            >
              <i class="fa-regular fa-clock"> </i>
              <p class="mb-0">
                One of <strong>YouTube's </strong>most crucial ranking factors
                is Watch Time.
              </p>
              <button
                class="btn-close"
                type="button"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="alert text-secondary border-secondary outline-2x alert-dismissible fade show alert-icons mb-0"
              role="alert"
            >
              <i class="fa-solid fa-thumbs-up"> </i>
              <p class="mb-0">
                <b> Well done ! </b>You successfully read this important
                message.
              </p>
              <button
                class="btn-close"
                type="button"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xxl-6 mb-lg-3">
        <div class="card">
          <div class="card-header card-no-border pb-0">
            <h3>
              <i class="fa-solid fa-arrows-up-down-left-right"></i> Icon In
              Heading
            </h3>
            <p class="mt-1 mb-0">You can draggable cards anywhere.</p>
          </div>
          <div class="card-body">
            <div
              class="alert border-warning alert-dismissible fade show p-0"
              role="alert"
            >
              <div class="alert-arrow bg-warning">
                <i class="fa-regular fa-clock me-0"></i>
              </div>
              <p>Your time Over after 5 minute</p>
            </div>
            <div
              class="alert border-danger alert-dismissible fade show p-0 mb-0"
              role="alert"
            >
              <div class="alert-arrow bg-danger">
                <i class="fa-regular fa-heart me-0"></i>
              </div>
              <p>Oh snap! Change a few things up notification check</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Body CONTENT End-->
{% endblock %}
